/* Body */

html, body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Divs */

div {
  display: flex;
  margin: 10px;
}

/* Labels */

label {
  min-width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

/* Inputs */

input {
  flex: 1;
}

/* Create button */

button#create {
  margin-left: auto;
}