/* Theme's variables */
:root {
  --background-color: #ffffff;
  --toolbar-color: #ffffff;
  --list-background-color: #ffffff;
  --hover-color: #eeeeee;
  --selected-color: #cccccc;
  --splitter-color: #cccccc;
  --border-color: #000000;
  --font-color: #000000;
  --font-famliy: Arial, Helvetica, sans-serif;
  --font-size: 14px;
}
/* Body */
html,
body {
  margin: 0;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-famliy);
  font-size: var(--font-size);
}
div#container {
  height: 100vh;
  width: 100vw;
}
div#app {
  height: 100%;
}
/* General */
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
button {
  margin: 4px 8px;
}
/* Repo dashboard */
div.repo-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Repo toolbar */
div.repo-toolbar {
  height: 50px;
  display: table;
  text-align: center;
  background-color: var(--toolbar-color);
}
div.repo-toolbar h1 {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
}
div.repo-toolbar div.toolbar-buttons {
  display: table-cell;
  vertical-align: middle;
}
/* Repo content */
div.repo-content {
  flex: 1;
  display: flex;
}
/* Graph viewer */
div.graph-viewer {
  flex: 1;
  min-width: 300px;
  position: relative;
}
/* Commit graph */
div.commit-graph {
  width: 50%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
div.commit-graph canvas {
  position: sticky;
  margin-left: auto;
  display: block;
  z-index: 2;
  pointer-events: none;
}
/* Commit list */
div.commit-list {
  width: 100%;
  height: calc(100% - 15px);
  position: absolute;
  top: 0px;
  z-index: 1;
  overflow-y: scroll;
  text-align: left;
}
div.commit-list ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  line-height: 22px;
  background-color: var(--list-background-color);
}
div.commit-list ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  padding-left: calc(50% + 20px);
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
}
div.commit-list ul li:hover {
  background: var(--hover-color);
}
div.commit-list ul li.selected-commit {
  background: var(--selected-color);
}
/* Reference badge */
div.commit-list li span.reference {
  border-radius: 5px;
  padding: 2px;
  margin-right: 2px;
  background-color: var(--branch-color);
  color: white;
}
div.commit-list li span.reference:hover {
  filter: brightness(1.05);
}
div.commit-list li span.reference.selected {
  filter: brightness(1.1);
}
/* Patch viewer */
div.patch-viewer {
  flex: 1;
  min-width: 300px;
  z-index: 1;
}
div.patch-viewer div.patch-header {
  height: 30px;
}
div.patch-viewer div.patch-header h2 {
  margin: 0px;
  padding: 6px 8px;
}
div.patch-viewer div.patch-toolbar {
  height: 20px;
}
div.patch-viewer div.patch-editor {
  height: calc(100% - 30px - 20px);
}
/* Hunk widget */
div.hunk-widget {
  width: 100%;
}
div.hunk-widget > div {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 1px solid;
}
div.hunk-widget > div > div {
  position: absolute;
  right: 18px;
  bottom: 2px;
}
div.hunk-widget p {
  margin: 0px;
}
div.hunk-widget button {
  margin: 0px 2px;
}
/* Margin buttons */
.stage-line-button {
  width: 19px;
  height: 19px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 5px;
}
.stage-line-button:hover {
  background: green;
}
.stage-line-button:hover::before {
  content: '+';
}
.unstage-line-button {
  width: 19px;
  height: 19px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 5px;
}
.unstage-line-button:hover {
  background: red;
}
.unstage-line-button:hover::before {
  content: '-';
}
/* Splitter */
div.splitter {
  width: 4px;
  background: var(--splitter-color);
  cursor: col-resize;
}
/* Commit viewer */
div.commit-viewer {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  z-index: 2;
}
div.commit-viewer h3 {
  margin: 4px 0;
  text-align: center;
  font-size: var(--font-size);
  font-weight: normal;
}
div.commit-viewer h2 {
  margin: 8px;
}
div.commit-viewer p {
  margin: 4px 8px;
}
div.commit-viewer div.patch-list-header {
  display: flex;
  position: relative;
}
div.commit-viewer div.patch-list-header button {
  position: absolute;
  right: 8px;
}
div.commit-viewer > input {
  margin: 4px 8px;
}
/* Patch list */
ul.patch-list {
  flex: 1;
  margin: 8px;
  border: 1px solid var(--border-color);
  padding-left: 0px;
  list-style: none;
  overflow-y: auto;
  background-color: var(--list-background-color);
}
ul.patch-list li {
  padding: 4px;
  display: flex;
  position: relative;
  user-select: none;
}
ul.patch-list li:hover {
  background: var(--hover-color);
}
ul.patch-list li.selected-patch {
  background: var(--selected-color);
}
ul.patch-list li span.icon {
  padding-right: 4px;
}
ul.patch-list li div.buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: right;
  line-height: 25px;
}
ul.patch-list li div.buttons button {
  display: none;
  margin-right: 2px;
  padding: 0px 2px;
}
ul.patch-list li div.buttons:hover button {
  display: inline;
}
/* Patch icons */
span.patch-add::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '+';
  color: green;
}
span.patch-delete::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '-';
  color: red;
}
span.patch-modify::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '\2026';
  color: orange;
}
span.patch-rename::before {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  content: '/';
  color: dodgerblue;
}
/* Ellipsis middle */
div.ellipsis-middle {
  display: flex;
  overflow: hidden;
}
div.ellipsis-middle div.left {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.ellipsis-middle div.right {
  max-width: 100%;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* Notifications */
ul.notification-queue {
  position: absolute;
  top: 0;
  left: calc(100% - 400px);
  width: 800px;
  z-index: 2;
  list-style: none;
  margin: 16px 0px;
  padding: 0px;
}
ul.notification-queue li {
  width: calc(50% - 2 * (16px + 1px));
  padding: 16px;
  margin: 8px 0px;
  margin-left: 50%;
  transition: margin-left 1s 0s;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
ul.notification-queue li.shown {
  margin-left: 0px;
}
ul.notification-queue li:hover {
  background: var(--hover-color);
}
/* Tooltips */
.tooltip-bottom {
  position: relative;
  border-bottom: 1px dotted var(--font-color);
}
.tooltip-bottom .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: calc(100% + 8px);
  transform: translateX(-50%);
}
.tooltip-bottom .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-bottom:hover .tooltip-text {
  visibility: visible;
}
