/* Body */

html, body {
  margin: 0;
  overflow: hidden;
}

div#container {
  height: 100vh;
  width: 100vw;
} 

div#app {
  height: 100%;
}

/* Repo dashboard */

div.repo-dashboard {
  height: 100%;
}

/* Repo header */ 

div.repo-header {
  height: 50px;
  text-align: center;
}

div.repo-header h1 {
  margin: 0px;
}

/* Graph viewer */

div.graph-viewer {
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  overflow-y: scroll;
  position: relative;
  float: left;
}

/* Commit graph */

div.commit-graph {
  width: 50%;
  height: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  pointer-events: none;
}

div.commit-graph canvas {
  display: block;
  float: right;
}

/* Commit list */

div.commit-list {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

div.commit-list ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  line-height: 22px;
}

div.commit-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  padding-left: calc(50% + 20px);
  padding-top: 3px;
  padding-bottom: 3px;
}

div.commit-list li:hover {
  background: #eee;
}

/* Commit viewer */

div.commit-viewer {
  width: 300px;
  float: right;
}

/* Patch list */

div.patch-list ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

div.patch-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 40px;
}

div.patch-list li:hover {
  background: #eee;
}
/* Patch viewer */

div.patch-viewer {
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  position: relative;
  float: left;
}

div.patch-header {
  height: 50px;
}

div.patch-header h1 {
  margin: 0px;
}

div.patch-editor {
  height: calc(100% - 50px);
}